# PacketReaper Dependencies
scapy
pyshark
cryptography
numpy
pandas
colorama
termcolor
argparse
requests
psutil
pycryptodome
progress
wifi  # For managing Wi-Fi on macOS/Linux
impacket  # Required for some advanced networking features
